<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pweb.mapper.UserOtherMapper">

    <sql id="where_id">
        where id=#{id}
    </sql>
    <!--插入媒体-->
    <insert id="insertUserOther" parameterType="com.pweb.entity.UserOther">
        insert into user_other
        (id,username,name,content,remark,create_date,update_date)
        values
        (#{id},#{username},#{name},#{content},#{remark},now(),now())
    </insert>

    <!--修改-->
    <update id="updateUserOther" parameterType="com.pweb.entity.UserOther">
        update user_other
        <set>
            <if test="name != null and name != ''">
                name=#{name},
            </if>
            <if test="content != null and content != ''">
                content=#{content},
            </if>
        </set>
        remark=#{remark},updateDate=now()
        <include refid="where_id"></include>
    </update>


    <!--删除-->
    <delete id="deleteUserOther" parameterType="java.lang.String">
        delete from user_other
        <include refid="where_id"></include>
    </delete>

    <!--查询信息-->
    <sql id="select_info">
        select id,username,name,content,remark,create_date as createDate, update_date as updateDate
        from user_other
    </sql>

    <!--根据id查询-->
    <select id="queryUserOtherById" parameterType="java.lang.String" resultType="com.pweb.entity.UserOther">
        <include refid="select_info"></include>
        <include refid="where_id"></include>
    </select>

    <!--模糊查询-->
    <select id="queryUserOtherLimit" resultType="com.pweb.entity.UserOther">
        <include refid="select_info"></include>
        where name like concat(concat('%',#{name}),'%')
        order by update_date
        limit #{first},#{sum}
    </select>

    <!--模糊查询数量-->
    <select id="queryUserOtherLimitCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from user_other
        where name like concat(concat('%',#{name}),'%')
    </select>
</mapper>